.form {
    gap: 20px;
}

.form__label {
    display: flex;
    flex-direction: column;
}

.form__checkbox {

    display: flex;
    justify-content: center;
    gap: 10px;

    input {
        min-height: 20px;
        min-width: 20px;
    }
}