.header {
    background-color: var(--components-bg);
    padding: 10px;
}

.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav__item {

}