@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./utils.css);
@import url(./style.css);

:root {
    --bg-color: #116466;
    --components-bg: #FF4500;
    --font-color: #121212;
    --special-color: #FEFDFB;
    --special-hover: #0A0A0A;
}