/* first section*/
.new {
    text-align: center;
}

.new__title {

}

.new__container {
    width: 90%;
    position: relative;
}

.game-card {
    width: 50%;
}

.game-card__img {
    object-fit: cover;
    border-radius: 10px;
}

.game-card__desc {
    position: absolute;
    width: 300px;
    gap: 10px;
    background-color: var(--components-bg);
    border-radius: 20px;
    padding: 10px;
}

.game-card__title {

}

.game-card__price {

}

.game-card__info {
    width: 100px;
    height: 30px;
}

.slide-show {
    position: absolute;
    bottom: 20px;;
}

.slide-show > .active {
    color: var(--special-color);
}

/* second section */

.search {
}

.search__container {
    width: 90%;
    gap: 10px;
}

.search__label {
    width: 80%;

    input {
        width: 100%;
    }
}

.search__btn {
    width: 100px;
    height: 30px;
}

/* third section */

.suggestions {

}

.suggestions__container {
    width: 90%;
    gap: 20px;
}

.suggestions__title {

}

.suggestions__list {
    flex-wrap: wrap;
    width: 500px;
    gap: 20px;
}

.suggestion {

    background-color: var(--components-bg);
    width: 200px;
    height: 75px;
    padding: 10px;
    border-radius: 10px;
}

.suggestion__img {
    width: 20%;
}

.suggestion__title {

}

/* fourth section*/

.popular {
}

.popular__container {
    width: 90%;
    gap: 50px;
}

.popular__title {

}

.popular__list {
    flex-wrap: wrap;
    width: 650px;
    gap: 10px;
}

.game {
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    padding: 10px;
    background-color: var(--components-bg);
    border-radius: 10px;
    border: 1px solid var(--components-bg);
}

.game:hover {
    border: 1px solid var(--special-hover);
}

.game__img {
    max-width: 90%;
    max-height: 50%;
}

.game__title {

}

.game__genre {

}

.game__dev {

}

.game__stars {
    height: 20px;
    gap: 5px;
}

/* fifth section */

@keyframes run_partners {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.partners {

}

.partners__container {
    width: 90%;
    overflow: hidden;

}

.partners__title {

}

.partners__list {
    animation: run_partners 10s linear infinite;
    gap: 30px;
}

.partner {
    height: 75px;
}

@media (max-width: 360px) {
    .game-card {
        width: 90%;
    }

    .game-card__desc {
        width: 150px;
    }

    .slide-show {
        bottom: 0;
    }

    /* third section */

    .suggestions__list {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    /* fourth section*/

    .popular__list {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 90%;
    }

}