/* first section*/
.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.new__title {

}

.new__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    height: 500px;
}

.game-card__img {
    object-fit: cover;
    border-radius: 10px;
}

.game-card__desc {
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: var(--components-bg);
    border-radius: 20px;
    padding: 10px;
}

.game-card__title {

}

.game-card__price {

}

.game-card__info {
    width: 100px;
    height: 30px;
}

.slide-show {
    position: absolute;
    bottom: 20px;;
}

.slide-show > .active {
    color: var(--special-color);
}

/* second section */

.search {
    display: flex;
    justify-content: center;
}

.search__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.search__label {
    width: 80%;
    background-color: var(--components-bg);

    input {
        width: 100%;
    }
}

.search__btn {
    width: 100px;
    height: 30px;
}

/* third section */

.suggestions {
    display: flex;
    justify-content: center;
}

.suggestions__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.suggestions__title {

}

.suggestions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    gap: 20px;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--components-bg);
    width: 200px;
    height: 75px;
    padding: 10px;
    border-radius: 10px;
}

.suggestion__img {
    width: 20%;
}

.suggestion__title {

}

/* fourth section*/

.popular {
    display: flex;
    justify-content: center;
}

.popular__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.popular__title {

}

.popular__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
    gap: 10px;
}

.game {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    padding: 10px;
    background-color: var(--components-bg);
    border-radius: 10px;
    border: 1px solid var(--components-bg);
}

.game:hover {
    border: 1px solid var(--special-hover);
}

.game__img {
    width: 90%;
}

.game__title {

}

.game__genre {

}

.game__dev {

}

.game__stars {
    display: flex;
    height: 20px;
    gap: 5px;
}

/* fifth section */

@keyframes run_partners {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.partners {
    display: flex;
    justify-content: center;
}

.partners__container {
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners__title {

}

.partners__list {
    display: flex;
    animation: run_partners 10s linear infinite;
    align-items: center;
    gap: 30px;
}

.partner {
    height: 75px;
}