@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./utils.css);
@import url(./auth.css);
@import url(./registration.css);
@import url(./form.css);
@import url(./profile.css);
@import url(./catalog.css);
@import url(./admin.css);

:root {
    --bg-color: #0A0A0A;
    --components-bg: #121212;
    --font-color: #FEFDFB;
    --special-color: #FF4500;
    --special-hover: #116466;
}

* {
    box-sizing: border-box;
    transition: all 0.2s ease;
    margin: 0;
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
}

section {
    padding: 50px 0;
}

a {
    text-decoration: none;
    color: var(--special-color);
}

a:hover, a:focus {
    text-decoration: underline;
    color: var(--special-hover);
}

button {
    background-color: var(--special-color);
    color: var(--font-color);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

button:hover, button:focus {
    background-color: var(--special-hover);
}

input {
    color: var(--font-color);
    background-color: var(--components-bg);
    border: 1px solid var(--components-bg);
    border-radius: 10px;
    min-width: 300px;
    min-height: 40px;
    padding: 10px 15px;
    outline: none;
}

textarea {
    color: var(--font-color);
    background-color: var(--components-bg);
    border: 1px solid var(--components-bg);
    border-radius: 10px;
    min-width: 300px;
    min-height: 40px;
    padding: 10px 15px;
    outline: none;
}


input:focus, input:hover {
    border-color: var(--special-hover);
}